
{% extends "base.html.twig" %}

{% block title %}Les offres{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('scss/card') }}
    {{ encore_entry_link_tags('scss/accordeon') }}
    {{ encore_entry_link_tags('scss/map') }}
    {{ encore_entry_link_tags('scss/showOffre') }}
    {# leaflet map #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
{% endblock %}

{% block body %}
    <h1>Les offres :</h1>
    <button class="accordion"><p class="accordionTitle">Voir la carte des offres</p></button>
    <div class="panel">
        {% for offre in offres %}
        <div class="js-marker" data-lat="{{offre.lat}}" data-lon="{{offre.lon}}" data-text="{{offre.entreprise}}"></div>
        {% endfor %}
        <div id="map" class="map"></div>
    </div>
    <div class="gridOffre">
        <div class="grid-gallery">
            {% for offre in offres %}
            <a class="offreLink" href={{ path ('this_offre', {id: offre.id})}}>
                <div class="grid-item">
                    <div class="cardOffre">
                        <div class="picCadre">
                            {% if offre.filename %}
                            <img class="offrePic" src={{ vich_uploader_asset(offre, 'imageFile')}}>
                            {% else %}
                            <img class="offrePic" src={{ asset ('img/default-pic.png')}}>
                            {% endif %}
                        </div>
                        <div class="bottom"><h2 class="entreprise">{{offre.entreprise}}</h2><h2 class="titre">{{offre.titre}}</h2></div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    {# map #}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/map') }}
{% endblock %}