
{% extends "base.html.twig" %}

{% block title %}Les offres{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('scss/card') }}
{% endblock %}

{% block body %}
    <h1>Les offres :</h1>
    <div class="gridOffre">
        <div class="grid-gallery">
            {% for offre in offres %}
            <a class="offreLink" href={{ path ('this_offre', {id: offre.id})}}>
                <div class="grid-item">
                    <div class="cardOffre">
                        <div class="picCadre">
                            {% if offre.filename %}
                            <img class="offrePic" src={{ vich_uploader_asset(offre, 'imageFile')}}>
                            {% else %}
                            <img class="offrePic" src={{ asset ('img/default-pic.png')}}>
                            {% endif %}
                        </div>
                        <div class="bottom"><h2 class="entreprise">{{offre.entreprise}}</h2><h2 class="titre">{{offre.titre}}</h2></div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}