{% extends "base.html.twig" %}


{% block title %}Bienvenue !{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/home') }}
    {{ encore_entry_link_tags('scss/map') }}
    {{ encore_entry_link_tags('scss/card') }}
    {# leaflet map #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
{% endblock %}

{% block body %}
<div class="featured">
    <h1>Offres à la une :</h1>
    {% for featuredOffre in featuredOffres %}
        <div class="grid-gallery">
            <div class="grid-item">
                <div class="cardOffre">
                    <div class="picCadre">
                        {% if featuredOffre.filename %}
                        <img class="offrePic" src={{ vich_uploader_asset(featuredOffre, 'imageFile')}}>
                        {% else %}
                        <img class="offrePic" src={{ asset ('img/default-pic.png')}}>
                        {% endif %}
                    </div>
                    <div class="bottom"><h2 class="entreprise">{{featuredOffre.titre}}</h2><h2 class="titre">{{featuredOffre.sousTitre}}</h2></div>
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>

<div id="map" class="map"></div>

{# map #}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>


{% endblock %}
    
{% block javascripts %}
    {{ encore_entry_script_tags('js/map') }}
{% endblock %}

