
{% extends "base.html.twig" %}

{% block title %}Mon espace{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('scss/monEspace') }}
    {{ encore_entry_link_tags('scss/form') }}
{% endblock %}

{% block body %}
<div class="espace">
    <div class="modif">
    <h1>Modifier mes informations</h1>
        <div class="name">
        <h2>Changer d'identifiant</h2>
            {{ include ("admin/admins/FormAdmins.html.twig", {form: form, button: 'Enregistrer'}) }}
        </div>
        <div class="pwd">
        <h2>Changer de mot de passe</h2>
            {{form (formPwd)}}
        </div>
    </div>

    <div class="btn">
        <a href={{ path ('MyOffres')}}><button>Voir mes offres déposées</button></a>
        <a href="/logout"><button>Se déconnecter</button></a>
    </div>
    

    <div class="wishList">
        {# <div class="cardOffre">
            <div class="picCadre">
                {% if likes.filename %}
                <img class="offrePic" src={{ vich_uploader_asset(likes, 'imageFile')}}>
                {% else %}
                <img class="offrePic" src={{ asset ('img/default-pic.png')}}>
                {% endif %}
            </div>
            <div class="bottom">
                <h2 class="entreprise">{{likes.entreprise}}</h2><h2 class="titre">{{likes.titre}}</h2>
            </div>
        </div> #}
    </div>
</div>
    

{% endblock %}

{% block javascripts %}

{% endblock %}
